* {
	margin : 0px;
	padding : 0px;
}

body {
	height : 800px;
	width : 1500px;
	margin : 20px;
	padding : 50px 10px 50px 10px;
	border : solid 1px black;
}

#column_list {
	height : 800px;
	width : 1300px;
}

.column-size {
	display : block;
	float : left;
	height : 95%;
	width : 200px;
	/*border : dotted 1px black;*/
}

.column-decoration {
	background-color : #EEE;
	border : solid 1px yellow;	
}

.blank {
	width : 30px;
	background-color : white;
	/*opacity : 0%;*/
}

.dragzone {
	height : 5%;
	text-align : center;
	border : solid 1px black;
}

.content {
	height : 95%;
	text-align : center;
	border : solid 1px blue;
}

.drag_line {
	background-image: url("./dot.png");
	background-position: center;
	background-repeat: repeat-y;
}

.red {
	background-color: red;
}
